replicaCount: 1

image:
  repository: shishir77/portfolio-site
  pullPolicy: IfNotPresent
  tag: "18"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific